@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --primary: #cd1717;
  --bar: #F14B4B;
  --page: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-bar: var(--bar);
  --color-page: var(--page);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
